* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.champ-container {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
.champion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%
}
.champion-card img {
  
}
.champion-card h1 {
  
  font-size: 2.5vh  ;
}
.champion-card h3 {
  font-size: 1.5vh;
  

}
